@page
@model SkateShop.Pages.ShoppingCart.OrderConfirmationModel
@{
    ViewData["Title"] = "Order Completed";
}
<meta http-equiv="refresh" content="15;https://localhost:44384/" />

<div class="container h-100 d-flex justify-content-center">
    <div class="jumbotron my-auto bg-success">
        <h1 class="display-3 text-white">Thank you for your purchase!</h1>
        <hr />
        <p class="lead text-white">In 15 seconds you will be redirected to the home page.</p>
        <a class="btn btn-primary" asp-page="/Index">Go back now</a>
    </div>
</div>